<nav class="nav">
	<div class="logo">
		<h4>ΔDENOX</h4>
	</div>
</nav>
<div class="container">
	<div class="margin">
		<div></div>
		<div></div>
		<div class="collums">
			<div [hidden]="submitted">
				<h1>Login Form</h1>
				<form (ngSubmit)="onSubmit()" #heroForm="ngForm">
					<div class="form-group">
						<h4>Name</h4>
						<label for="name">Firstname</label>
						<input
              type="text"
              class="form-control"
              id="name"
              required
              [(ngModel)]="model.name"
              name="name"
              #name="ngModel"
            />

          </div>
						<div class="form-group">
							<label for="name1">Middlename</label>
							<input
              type="text"
              class="form-control"
              id="name1"
              required
              [(ngModel)]="model.name1"
              name="name1"
              #name1="ngModel"
            />
          </div>
							<div class="form-group">
								<label for="name2">Lastname</label>
								<input
              type="text"
              class="form-control"
              id="name2"
              required
              [(ngModel)]="model.name2"
              name="name2"
              #name2="ngModel"
            />
          </div>
								<br />
								<div class="form-group">
									<label for="address">Address</label>
									<input
              type="text"
              class="form-control"
              id="address"
              required
              [(ngModel)]="model.address"
              name="address"
              #address="ngModel"
            />
          </div>
									<div class="form-group">
										<label for="age">Age</label>
										<input
              type="text"
              class="form-control"
              id="age"
              required
              [(ngModel)]="model.age"
              name="age"
              #age="ngModel"
            />
          </div>

										<div class="form-group">
											<label for="power">Gender</label>
											<select
              class="form-control"
              id="power"
              required
              [(ngModel)]="model.power"
              name="power"
              #power="ngModel"
            >
              <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
            </select>

											<div class="form-group">
												<label for="birthday">Birthday</label>
												<input
                type="text"
                class="form-control"
                id="birthday"
                required
                [(ngModel)]="model.birthday"
                name="birthday"
                #birthday="ngModel"
              />
												<h5>&nbsp;&nbsp; MM/DD/YY</h5>
											</div>
											<div class="form-group">
												<label for="email">Email</label>
												<input
                type="text"
                class="form-control"
                id="email"
                required
                [(ngModel)]="model.email"
                name="email"
                #email="ngModel"
              />
            </div>
												<div class="form-group">
													<label for="mobile">Mobile No.</label>
													<input
                type="text"
                class="form-control"
                id="mobile"
                required
                [(ngModel)]="model.mobile"
                name="mobile"
                #mobile="ngModel"
              />
            </div>
												</div>
												<button
            type="submit"
            class="btn btn-success"
            [disabled]="!heroForm.form.valid"
          >
            Submit
          </button>
												<button
            type="button"
            class="btn btn-default"
            (click)="newHero(); heroForm.reset()"
          >
            New Form
          </button>
				</form>
			</div>
			<div>

			</div>

			<div class="background">
				<div class="userform" [hidden]="!submitted">
					<br>
					<h2>&nbsp; ΔUser Information</h2>
					<div class="row">
						<div class="col-xs-3">
							<h6>Firstname</h6>
							<h4> {{ model.name }}</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3">
							<h6>Middlename</h6>
							<h4> {{ model.name1 }}</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3">
							<h6>Lastname</h6>
							<h4> {{ model.name2 }}</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3">
							<h6>Address</h6>
							<h4>{{ model.address }}</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3">
							<h6>Age</h6>
							<h4>{{ model.age }}</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3">
							<h6>Gender</h6>
							<h4>{{ model.power }}</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3">
							<h6>Birthday</h6>
							<h4>{{ model.birthday }}</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3">
							<h6>Email</h6>
							<h4>{{ model.email }}</h4>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-3">
							<h6>Mobile no.</h6>
							<h4>{{ model.mobile }}</h4>
						</div>
					</div>
					<br />
					<button class="btn btn-primary" (click)="submitted=false">
          Edit
        </button>
				</div>
			</div>
		</div>
		<div class="adds">
			<p>Join us here at DELTA DENOX, on a mission to explore the cosmos. </p>
			<img
        class="adds1"
        src="https://i.pinimg.com/originals/94/0e/40/940e404626c3d1afb15497df81c6e147.png"
        alt=""
      />

		</div>
		</div>
	</div>
	<nav class="nav1">
		<div class="logo">
			<h6>Denox project 5HXC CPE6 2020</h6>
		</div>
	</nav>